#root {
  height: 100%;
}

.comp-container {
  height: 100%;
}

#chroom-panel {
    height: 100%;
    background-color: #bad3fc;
}

#msg-panel {
    height: 100%;
    background-color: #efd9f9;
}

#users-panel {
    min-height: 100%;
    background-color: #bee2c1;
}
