#root {
  height: 100vh;
}

.form-container {
  padding-top: 50px;
}

.comp-container {
  height: 100%;
}


#chroom-panel {
    height: 100%;
    background-color: #bad3fc;
}

#msg-panel {
    height: 100%;
    background-color: #efd9f9;
    max-height: 100vh;
    overflow: auto;
}

#message-list {


}

#users-panel {
    min-height: 100%;
    background-color: #bee2c1;
}

.ui.menu.fixed {
    /* position: relative; */
}

.ui.fixed.menu+.ui.grid {
    /* padding-top: 0; */
}
